<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
			rel="stylesheet" />
		<link rel="stylesheet" href="css/<%= style %>" />
		<link rel="stylesheet" href="css/main-style.css" />
		<% if (typeof layout_style !== "undefined") { %>
		<link rel="stylesheet" href="css/<%= layout_style %>" />
		<% } %>
		<link rel="stylesheet" href="css/search-user-style.css" />
		<title><%= title %></title>
	</head>
	<body>
		<%- include('navbar') %>
		<div class="content-page"><%- body %></div>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script
			type="module"
			src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script
			nomodule
			src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
		<script src="js/<%= script %>"></script>
		<% if (typeof layout_script !== "undefined") { %>
		<script src="js/<%= layout_script %>"></script>
		<% } %>
		<script src="js/main-script.js"></script>
	</body>
</html>
